---
import LikeEvent from "./LikeEvent.astro"

export interface Props{
    profileimage:string,
    mention:string,
    sponsered:string,
    postimage:string,
    posttext:string,
    comment:string,

}
const {profileimage, mention, sponsered, postimage, posttext, comment} = Astro.props
---

<section class="my-5">
    <div class="flex items-center justify-between space-x-4">
        <div class="flex items-center space-x-2">
            <div class="relative top-0">
                <div class="relative w-10 h-10 flex justify-center items-center rounded-full bg-grayBgpost border-[1.01px] border-textBlack overflow-hidden z-10">
                    <img src={profileimage} alt="profile image" class="w-full">
                </div>
                
                <div class="absolute inset-0 top-0 left-0 bg-black w-10 h-10 -translate-x-[2px] translate-y-[2px] border-[1.01px] border-textBlack rounded-full"></div>
            </div>
            
            <div class="leading-3">
                <h6 class="font-inter font-semibold text-xs text-textBlack">{mention}</h6>
                <span class="font-inter font-light text-textBlack text-[10px]">{sponsered}</span>
            </div>
        </div>
        
        <a href="" class="font-medium text-textBlack text-2xl">
            <i class="ri-more-line"></i>
        </a>
    </div>
    
    <div class="relative top-0">
        <div class="relative bg-grayBgpost my-4 rounded-sm border-[3px] border-textBlack z-10">
            <img src={postimage} width="335" height="309" alt="post" class="w-full h-[309] object-cover aspect-auto">
        </div>

        <div class="absolute inset-0 top-0 left-0 bg-textBlack rounded-sm translate-y-1"></div>
    </div>
   


    <LikeEvent />
    <div class="font-inter text-xs py-1 px-3">
        <a href="https://www.instagram.com/millionairesformula/" class="font-bold inline">{mention}</a>
        <p class="font-normal inline">{posttext}<a href="" class="text-sm text-dimGray cursor-pointer block">more</a></p>
    </div>

    <div class="font-inter text-xs text-dimGray py-1 px-3 cursor-pointer">{comment}</div>
  </section>